/********* Main Sheet *********/

@import '../css/nav.css';
@import '../css/jumbotron.css';
@import '../css/post.css';
@import '../css/footer.css';
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@400;900&family=Playfair+Display:wght@400;500;800&family=Poppins&display=swap');
@import url('https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');

:root {
  --main-gutter: 7em;
  --hdr-ftr-gutter: 2em;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
}

/********* Grid Layout *********/

.home-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4em 5fr 1.5fr 6fr 3em;
}

.post-container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 4em 14fr 3em;
}

nav {
  grid-column: span 12;
  background-color: #222831;
}

.jumbotron-headline {
  grid-column: 1 / 8;
  background-color: #eee;
  padding: 0 .3em 0 var(--main-gutter);
  height: 100%;
}

.jumbotron-img {
  grid-column: 8 / 13;
  background-color: #eee;
  padding-right: var(--main-gutter);
}

.featured {
  grid-column: span 12;
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  padding: 0 var(--main-gutter) 0 var(--main-gutter);
}

.posts {
  grid-column: span 12;
  padding: 0 var(--main-gutter) 3em var(--main-gutter);
  display: flex;
  flex-direction: column;
}

.main-footer {
  grid-column: span 12;
  background-color: #4f8a8b;
  color: rgb(226, 226, 226);
}

/********* Media Queries *********/

@media screen and (max-width: 1024px) {
  :root {
    --main-gutter: 3.5em;
  }
}

@media screen and (max-width: 768px) {
  :root {
    --main-gutter: 1.5em;
    --hdr-ftr-gutter: 1.5em;
  }

  .home-container {
    grid-template-rows: 4em 2fr 0.5fr 7fr 3em;
  }

  .post-container {
    /* grid-template-rows: 4em 1fr 14fr 1fr 3em; */
    grid-template-rows: 4em 14fr 3em;
  }

  .jumbotron-img {
    display: none;
  }

  .jumbotron-headline {
    grid-column: span 12;
  }

  .featured {
    align-items: center;
  }

  .post-title {
    justify-content: center;
  }
}